/* Write your CSS here. */
.wgs {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 241px;
    overflow: hidden;
}
.wgs__mole-head {
    position: absolute;
    left: 55px;
    height: 188px;
    width: 188px;
    transition-property: margin-top;
    transition-duration: .25s;
}

.wgs__dirt-pile {
    position: absolute;
    top: 131px;
    height: 110px;
    width: 320px;
}

.wgs__mole-head--hidden {
    margin-top: 141px;
}

.pf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}


